---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}
	
	<div class="post-content">{{ content }}</div>

	<p class="meta">发表于 <span class="postdate">{{ page.date | date: "%Y-%m-%d" }}</span></p>

    <div id="comments">
        <div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}  data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"></div>
    </div>

		<nav class="pagenation">
		<ul>
		{% if page.previous %}
			<li class="before left"><a rel="prev" href="{{ page.previous.url }}" class="btn" title="View {{ page.previous.title }}">上一篇</a></li>
		{% endif %}
		{% if page.next %}
			<li class="next right"><a rel="next" href="{{ page.next.url }}" class="btn" title="View {{ page.next.title }}">下一篇</a></li>
		{% endif %}
		</ul>
		</nav>
</article>
