---
layout: default
---
<article class="post">
    
	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}
	    <div class="entry-wrapper">
        <span style="float:left">
		标签：{% for tag in page.tags %}<a href="{{ site.url }}/tags.html#{{ tag }}-ref" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %} 
	</span>
	<span style="float:right">
		导航:
		{% if page.previous %}
			<a rel="prev" href="{{ page.previous.url }}" class="btn" title="View {{ page.previous.title }}">上一篇</a>
		{% endif %}
		{% if page.previous & page.next %}
		|
		{% endif %}
		{% if page.next %}
			<a rel="next" href="{{ page.next.url }}" class="btn" title="View {{ page.next.title }}">下一篇</a>
		{% endif %}
	</span>  &nbsp
     <hr>

	<div class="post-content">{{ content }}</div>

	<p class="meta">发表于 <span class="postdate">{{ page.date | date: "%Y-%m-%d" }}</span></p>

    <div id="comments">
        <div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}  data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"></div>
    </div>
    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jiathis_r.js?move=0&amp;btn=r5.gif" charset="utf-8"></script>
    <!-- JiaThis Button END -->
</article>
