{% include head-dark.html %}


<section class="article archive">
<article class="archive-wrap">

<ol class="post-list">
{% for tag in site.tags %}
<br><h2><id="{{ tag[0] }}-ref">{{ tag[0] }}</span></h2></br>
{% assign pages_list = tag[1] %}
{% if site.JB.pages_list.provider == "custom" %}
  {% include custom/pages_list %}
{% else %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if group == null or group == node.group %}
      <br><h4> <a href="{{ node.url }}">{{ node.title }}</a> </h4></br>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
    </ol>
    </article>
</section>
</div>
{% include footer.html %}
